
        

        
        <!-- Login Start -->
        <div class="login">
            <div class="container">
                <div class="section-header">
                    <h3>Driver Registration</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
                    </p>
                </div>
                <div class="row">
                    
                    
                    <div class="col-md-6">    
                        <div class="register-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input class="form-control" type="text" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Mobile</label>
                                    <input class="form-control" type="text" placeholder="Mobile">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail / Username</label>
                                    <input class="form-control" type="text" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input class="form-control" type="text" placeholder="Password">
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-6 py-1">
                                    <label>Your photo</label>
                                    <input type="file" id="car_photo" name="car_photo" accept=".jpg,.jpeg,.png,.gif">
                                </div>
                                <div class="col-md-6">
                                    <label>ID card </label>
                                    <input type="file" id="car_photo" name="car_photo" accept=".jpg,.jpeg,.png,.gif">
                                </div>
                                <div class="col-md-6">
                                    <label>Driver's lincese</label>
                                    <input type="file" id="car_photo" name="car_photo" accept=".jpg,.jpeg,.png,.gif">
                                </div>
                                <div class="col-md-6">
                                    <label>Car registration</label>
                                    <input type="file" id="car_photo" name="car_photo" accept=".jpg,.jpeg,.png,.gif">
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login End -->
        
        
        